.relative {
background-image: url('https://marketplace.canva.com/EAEH7oTckGg/1/0/1067w/canva-white-handwritten-love-on-black-background-canvas-pFgXq0m2LjA.jpg');
}
.filmin{
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-size: xx-large;

}
.otherMovies{
  position: relative;
  bottom: 2350px;
  left: 1200px;
height: 2000px;
 color: black;
 background-color: yellow;
 width: 2000px;
 font-weight: bolder;
 font-size: xx-large;
 display: grid;
 gap: 60px;
 padding-left: 100px;
 margin-top: 0%;
 

}
.filmin > h1 {
    color: red;
    width: 700px;
    background-color: aquamarine;
    border-radius: 10px;
    position: relative;
    left: 350px;
    padding-left: 40px;
}
#james {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    left: 800px;
    bottom: 200px;
    width: 100px;
    height: 50px;
    

}
#james:hover {
    background-color: brown;
}
.otherMovies > h1 {
    background-color: peru;
    width: 300px;
    border-radius: 40px;
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    padding: 20px;
    padding-right: 5px;
}
#run {
    font-size: xx-large;
    color: blue;
    font-style: italic;
    position: relative;
    left: 600px;
    bottom: 20px;
    font-weight: bolder;
    background-color: antiquewhite;
    padding: 20px;   
    border-radius: 20px;
    width: 350px;
    
}
#filmed{
    position: relative;
    bottom: 70px;
    font-style: italic;
    width: 1000px;
}
#pic {
    position: relative;
    left: 100px;

}
#movied{
    background-color: darkblue;
    color: black;
    width: 5000px;
    padding-left: 20px;
  
}
.watch {
    background-color: bisque;
    border-radius: 20px;
    padding-left: 20px;
    width: 300px;
    padding: 10px;
   
}