.relative {
background-image: url('https://marketplace.canva.com/EAEH7oTckGg/1/0/1067w/canva-white-handwritten-love-on-black-background-canvas-pFgXq0m2LjA.jpg');
}
.filmin{
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-size: xx-large;

}
.otherMovies{
  position: relative;
  left: 600px;
 color: purple;
 background-color: black;
 width: 900px;
 font-weight: bolder;
 font-size: x-large;
 display: grid;
 gap: 20px;
 padding-left: 100px;

}
.filmin > h1 {
    color: red;
    width: 700px;
    background-color: aquamarine;
}
#james {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    left: 1000px;
    bottom:350px;
    width: 100px;
    height: 50px;
    

}
#james:hover {
    background-color: brown;
}
.otherMovies > h1 {
    background-color: peru;
    width: 400px;
    border-radius: 40px;
    color: white;
    padding-left: 30px;
}
#run {
    font-size: xx-large;
    color: blue;
    font-style: italic;
}
#filmed{
    position: relative;
    bottom: 70px;
    font-style: italic;
}
#pic {
    position: relative;
    left: 400px;
}